.loader{
    width:100px;
    height:100px;
    border:20px solid black;
    border-top:20px solid gray;
border-radius:50%;
animation:loadanimate 2s ease-in-out 0s infinite normal;

}
@keyframes loadanimate{
    from{rotate:0deg;}
to {rotate:360deg;}
}